.grid-section {
    display: grid;
    grid-template-areas:
    "tiles stats"
    "tiles palette"
    "tiles palette";
}

.tiles{
    grid-area: tiles;
    display: grid;
    background-color: #BAD494;
    padding: 1rem;
    border-radius: 6px;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.palette{
    grid-area: palette;
}

.stats-container{
    grid-area: stats;
    background-color: rgba(255, 0, 0, .3);
}

#palette {
    width: 140px;
    background: #f3f3f3;
    padding: 12px;
    border-radius: 6px;
}

.palette-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    margin-bottom: 8px;
    background: white;
    border-radius: 4px;
    cursor: grab;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    background-color: #F1E7D3;
}

.tile.drag-over {
    outline: 3px dashed #94886B;
}

.empty-placeholder {
    width: 70%;
    height: 70%;
    background: #DDCBA0;
    border-radius: 4px;
}

.tile img {
    cursor: grab;
}
.tile img:active {
    cursor: grabbing;
}
