.grid-section {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

#palette {
    width: 140px;
    background: #f3f3f3;
    padding: 12px;
    border-radius: 6px;
}

.palette-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    margin-bottom: 8px;
    background: white;
    border-radius: 4px;
    cursor: grab;
}

#tiles {
    display: grid;
    background-color: #33b847;
    padding: 8px;
    border-radius: 6px;
}

.tile {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #d9cda0;
}

.tile.drag-over {
    outline: 3px dashed #ada172;
}

.empty-placeholder {
    width: 40px;
    height: 40px;
    background: #ada172;
    border-radius: 4px;
}

.tile img {
    cursor: grab;
}
.tile img:active {
    cursor: grabbing;
}
