* {
  padding: 0;
  margin: 0;
}

#root{
  width: 100vw;
  height: 100vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: "Varela Round", sans-serif;

  background-color: rgba(255, 0, 0, .3);
  background-image: linear-gradient(#D3EEF8, #BEE1F1);
}