.level-selection-screen {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.back-arrow {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: #34495e;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
}

/* --- Container & Staggering --- */
.levels-container {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
}

.levels-container-wrapper {
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.level-node-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

.left-side { 
	justify-content: flex-start;
	margin-left: auto; 
}

.right-side { 
	justify-content: flex-end;
}

/* --- The Island/Circle --- */
.level-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ABCA53;
  border: 5px solid #F1F2F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  text-align: center;
  padding: 10px;
}

.level-circle.locked {
	background: #BDC3C7;
	border: 5px solid #7D7E82;
	cursor: not-allowed;
}

.level-circle:hover:not(.locked) {
  transform: scale(1.1);
}

.active-ripple {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.1);
}

.lock-icon{
	width: 50%;
}

.back-arrow{
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.25rem;
}

@media (max-width: 800px){
	.left-side { 
		margin-left: 20px; 
	}

	.right-side { 
		margin-right: 20px; 
	}
}