.level-component{
	height: 100vh;
  	width: 100vw;

	display: flex;
	flex-direction: column;
	padding: 20px;
}

.level-component .back-arrow{
	position: relative;
	top: 0;
	left: 0;
}

.level-component .grid-section{
	flex: 1;
}